@model AvisFormation.WebUi.Models.FormationAvecAvisViewModel
@{
    ViewBag.Title = "DetailsFormation";
}

<h2>DetailsFormation</h2>
<div><span>Nom : </span><span>@Model.FName</span></div>
<div><span>Description : </span><span>@Model.FDescription</span></div>
<div><span>Nom SEO : </span><span>@Model.FNomSEO</span></div>
<div><span>Note : </span><span>@Model.FNote</span></div>
<div><span>nomber Avis : </span><span>@Model.FNbrAvis</span></div>
<div><span>Formation URL : </span><span>@Model.FUrl</span></div>

